.MenuGroup
{ 	
	background-color: #CC0033;
	border-style:solid;
	border-width:0px;
	border-color: Black; 
	cursor:pointer;
	cursor:hand;
}

.MenuItem
{
	font-family:verdana;
	font-size: 10px;
	font-weight: Bold;
	COLOR:#FFFFFF;
	border-bottom: 1px solid #000000;
	cursor:pointer;
	cursor:hand;
	/* border: 1px solid #333333; */
}

.MenuItemOver
{
	background-color: #FFFFFF;
	/* border-style:solid;
	border-width:1px;
	border-color:#a9a9a9; */
	border-bottom: 1px solid #000000;
	cursor:pointer;
	cursor:hand;
	font-family:verdana;
	font-weight: Bold;
	font-size:10px;
	color: #CC0033;
}
